In [ ]:
# Question 1
def max_kernel(num_list, k):
    result = []
    n = len(num_list)
    for i in range (n - k + 1):
        max_num = max(num_list[i:i+k])
        result.append(max_num)
    return result


assert max_kernel([3, 4, 5, 1, -44], 3) == [5, 5, 5]

num_list = [3, 4, 5, 1, -44, 5, 10, 12, 33, 1]
k = 3
print('1A)', max_kernel(num_list, k))

1A) [5, 5, 5, 5, 10, 12, 33, 33]

In [ ]:
# Question 2
def character_count(word):
    character_statistic = {}
    for char in word:
        if char in character_statistic:
            character_statistic[char] += 1
        else:
            character_statistic[char] = 1
    return character_statistic


assert character_count("Baby") == {'B': 1, 'a': 1, 'b': 1, 'y': 1}

print('2A)',character_count('smiles'))

2A) {'s': 2, 'm': 1, 'i': 1, 'l': 1, 'e': 1}

In [ ]:
# Question 3
!gdown https://drive.google.com/uc?id=1IBScGdW2xlNsc9v5zSAya548kNgiOrko

def count_word(file_path):
    counter = {}
    with open (file_path, 'r') as f:
        text = f.read().replace('\n', ' ')
    word_lst = text.split(' ')
    for word in word_lst:
        if word in counter:
            counter[word] += 1
        else:
            counter[word] = 1
    return counter


file_path = '/content/P1_data.txt'
result = count_word(file_path)
assert result['who'] == 3

print('3C)', result['man'])

Downloading...
From: https://drive.google.com/uc?id=1IBScGdW2xlNsc9v5zSAya548kNgiOrko
To: /content/P1_data.txt
100% 747/747 [00:00<00:00, 2.88MB/s]
3C) 6

In [3]:
# Question 4
def levenshtein_distance(token1, token2):
    distance = 0
    """
    1. Create matrix(row x col)
    2. Fill first row and column
    3. Fill matrix based on previous edits
    4. Return final element (Levenshtein distance)
    """
    col_num = len(token2) + 1
    row_num = len(token1) + 1
    matrx = [[0] * col_num for _ in range(row_num)]

    for i in range(row_num):
        for j in range(col_num):
            if i == 0 and j == 0:
                matrx[i][j] = 0
            elif i == 0:
                matrx[i][j] += matrx[i][j - 1] + 1
            elif j == 0:
                matrx[i][j] = matrx[i - 1][j] + 1

            elif token1[i - 1] == token2[j - 1]:
                matrx[i][j] = matrx[i - 1][j - 1]
            else:
                matrx[i][j] = 1 + min(
                    matrx[i - 1][j], matrx[i][j - 1], matrx[i - 1][j - 1]
                )
    distance = matrx[row_num - 1][col_num - 1]

    return distance


assert levenshtein_distance('hi', 'hello') == 4.0

print('4C)', levenshtein_distance('hola', 'hello'))

4C) 3

In [ ]:
# Question 5
def check_the_number(N):
    list_of_numbers = []
    result = ""
    for i in range(1, 5):
        list_of_numbers.append(i)
    if N in list_of_numbers:
        results = "True"
    if N not in list_of_numbers:
        results = "False"
    return results


N = 7
assert check_the_number(N) == "False"

N = 2
results = check_the_number(N)
print('5A)',results)

5A) True

In [ ]:
def my_function(data, max, min):
    result = []
    for i in data:
        if i < min:
            result.append(min)
        elif i > max:
            result.append(max)
        else:
            result.append(i)
    return result


my_list = [5, 2, 5, 0, 1]
max = 1
min = 0
assert my_function(max = max, min = min, data = my_list) == [1, 1, 1, 0, 1]

my_list = [10 , 2, 5, 0, 1]
max = 2
min = 1
print('6C)', my_function(max = max, min = min, data = my_list))

6C) [2, 2, 2, 1, 1]

In [ ]:
# Question 7
def my_function(x, y):
    x.extend(y)
    return x


list_num1 = ['a', 2, 5]
list_num2 = [1, 1]
list_num3 = [0, 0]
assert my_function(list_num1, my_function(list_num2, list_num3)) == ['a', 2, 5, 1, 1, 0, 0]

list_num1 = [1, 2]
list_num2 = [3, 4]
list_num3 = [0, 0]
print('7A)', my_function(list_num1, my_function(list_num2, list_num3)))

7A) [1, 2, 3, 4, 0, 0]

In [ ]:
# Question 8
def my_function(n):
    result = min(n)
    return result


my_list = [1, 22, 93, -100]
assert my_function(my_list) == -100

my_list = [1, 2, 3, -1]
print('8C)', my_function(my_list))

8C) -1

In [ ]:
# Question 9
def my_function(n):
    result = max(n)
    return result


my_list = [1001 , 9, 100 , 0]
assert my_function(my_list) == 1001

my_list = [1, 9, 9, 0]
print('9D)', my_function(my_list))

9D) 9

In [ ]:
# Question 10
def My_function(integers, number=1):
    result = any(True if i == number else False for i in integers)
    return result


my_list = [1, 3, 9, 4]
assert My_function(my_list, -1) == False

my_list = [1, 2, 3, 4]
print('10C)', My_function(my_list, 2))

10C) True

In [ ]:
# Question 11
def my_function(list_nums = [0, 1, 2]):
    var = 0
    for i in list_nums:
        var += i
    return var/len(list_nums)


assert my_function([4, 6, 8]) == 6
print('11A)', my_function())

11A) 1.0

In [ ]:
# Question 12
def my_function(data):
    var = []
    for i in data:
        if i % 3 == 0:
            var.append(i)
    return var


assert my_function([3 , 9, 4, 5]) == [3, 9]
print('12A)', my_function([1, 2, 3, 5, 6]))

12A) [3, 6]

In [ ]:
# Question 13
def my_function(y):
    var = 1
    while(y > 1):
        var *= y
        y -= 1
    return var


assert my_function(8) == 40320
print('13C)', my_function(4))

13C) 24

In [ ]:
# Question 14
def my_function(x):
    result = ''
    for char in x:
        result = char + result
    return result


x = 'I can do it'
assert my_function(x) == "ti od nac I"

x = 'apricot'
print('14B)', my_function(x))

14B) tocirpa

In [ ]:
# Question 15
def function_helper(x):
    if x > 0:
        return 'T'
    return 'N'


def my_function(data):
    res = [function_helper(x) for x in data]
    return res


data = [10 , 0, -10, -1]
assert my_function(data) == ['T', 'N', 'N', 'N']

data = [2, 3, 5, -1]
print('15C)', my_function(data))

15C) ['T', 'T', 'T', 'N']

In [ ]:
# Question 16
def function_helper(x, data):
    for i in data:
        if x == i:
            return 0
    return 1


def my_function(data):
    res = []
    for i in data:
        if function_helper(i, res):
            res.append(i)
    return res


lst = [10, 10, 9, 7, 7]
assert my_function(lst) == [10, 9, 7]

lst = [9, 9, 8, 1, 1]
print('16A)', my_function(lst))

16A) [9, 8, 1]